#login
  - if @current_user
    %div#logedin_nav
      %li.welcom_message Welcome, #{@current_user.name}!
      %li.logout_link= link_to 'Log Out', logout_path
      %li.daily_mail= link_to '交作业', '/mail'
  - else
    %ol#log_nav
      %li.login= link_to '使用腾讯QQ登陆', "/auth/qq_connect"
      %li.login= link_to '使用新浪微博登陆', "/auth/weibo"
      %li.login= link_to 'login with Facebook account', "/auth/facebook"
