%h2=link_to"句子", sentences_path

%table#sentences
  %thead
    %tr
      %th 句子
      %th 创建日期
  %tbody
    - @sentences.each do |sentence|
      %tr#original_tr
        %td= sentence.title
        %td= ""
      %tr#translated_tr
        %td= sentence.in_chinese
        %td= sentence.created_at.to_date

%h2=link_to"最近编辑过的单词", words_path

%table#words
  %thead
    %tr
      %th 单词
      %th 中文释义
      %th 记:忘
      %th 创建日期
      %th 编辑
  %tbody
    - @words.each do |word|
      %tr
        %td= word.title
        %td= word.in_chinese
        %td= (word.attempt_count.to_i - word.failed_count.to_i).to_s + ':' + word.failed_count.to_i.to_s
        %td= word.created_at.to_date
        %td= link_to "修改", edit_word_path(word)