%h2 生成如下时间短添加的句子和单词列表
= form_tag 'gen', :method => :get do
  %div#gen_from
    %label_tag  从
    = datetime_select :gen, :from, :use_month_numbers => true 
  %div#gen_to
    %label_tag  至
    = datetime_select :gen, :to, :use_month_numbers => true
  %div#gen_file_name
    %label_tag 文件名:
    = text_field :gen, :file_name
  %div= submit_tag '查看结果'
  %div= submit_tag '生成文件'	

- if @sentences
  %table#sentences
    %thead
      %tr
        %th 句子及相关单词
        %th 
    %tbody
      - @sentences.each do |sentence|
        %tr#original_tr
          %td#tr_sentence_title= link_to sentence.title, edit_sentence_path(sentence)
          %td= link_to "相关单词", edit_sentence_path(sentence)  
        %tr#translated_tr
          %td.in_chinese#tr_sentence_in_chinese= sentence.in_chinese
          %td= sentence.created_at.to_date
        %tr#related_words_tr
          %td#tr_related_words
            - for word in sentence.words
              = link_to word.title, edit_word_path(word)
              = ':'
              %span.in_chinese= word.in_chinese
              = '；'
          %td= ""

.text_warning *生成文件时请去除句子或词语中的英文逗号，否则生成的csv文件无法阅读。中文或日本的逗号不影响。
