%h2 为此句子添加相关单词
%h3#sentence= link_to @sentence.title, edit_sentence_path(@sentence)
%h3.in_chinese= @sentence.in_chinese
= form_tag words_path(:sentence_id => @sentence_id), :method => :post do
  = label :word, :title, '单词'
  = text_field :word, :title 
  = label :word, :in_chinese, '中文释义'
  = text_field :word, :in_chinese 
  %div= submit_tag '添加'

%h2 已关联单词
=render :partial => '/words/words_list'


