%h2 单词
%h3= link_to @word.title, edit_word_path(@word)
%h3.in_chinese= @word.in_chinese
- if @recall == 'yes'
  .rememberbutton= button_to '真记得:D', "/ji?id=#{@word.id}&recall=yes", :method => :put
  .rememberbutton= button_to '其实记不得:(', "/ji?id=#{@word.id}&recall=no", :method => :put
- elsif @recall == 'no'
  .rememberbutton= button_to '下次记得:p', "/ji?id=#{@word.id}&recall=no", :method => :put
- else
  .rememberbutton= button_to 'something is wrong...'
