!!! 5
%html
  %head
    <meta property="qc:admins" content="11500143531260527351006375" />
    <meta property="wb:webmaster" content="8a72fadd492d56ea" /> 
    = favicon_link_tag 'favicon.ico'
    %title JiCiBen
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css", :rel => "stylesheet"}
    %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css", :rel => "stylesheet"}
    %link{:href => "https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-button.css", :rel => "stylesheet"}
    %script{:src => "https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js"}
    %script{:src => "https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap.js"}
    %link{:href => "http://fonts.googleapis.com/css?family=Lobster+Two|Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag 'alternative'
  
  %body
    = render :partial=>'sessions/login'
    -#%h1.title= link_to "记词本 JiCiBen.com", '/home'
    #main
      - if flash[:error]
        #error.message= flash[:error]
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
