!!! 5
%html
  %meta{:property =>"wb:webmaster", :content => "8a72fadd492d56ea"}
  %head
    %title JiCiBen
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  
  %body
    = render :partial=>'sessions/login'
    %h1.title= link_to "记词本 JiCiBen.com", '/home'
    #main
      - if flash[:error]
        #error.message= flash[:error]
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
